mediator/SOA/Schemas/BPELProcessWSA_2.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/AnuAnnaSOAApplication/WebServiceA/BPELProcessWSA"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="process">
        <complexType>
            <sequence>
                <element name="Custid" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence>
                <element name="Name" type="string"/>
                <element name="Designation" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
