FaultHandlingFramework/SOA/SCA-INF/classes/RouteToFeatureMediator.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="RouteToFeatureMediator"
     targetNamespace="http://xmlns.oracle.com/bpel-300-FaultHandlingFramework/SampleFeatureRouter/RouteToFeatureMediator"
     xmlns:cb1="http://www.oracle.com/bpel/samples"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp1="http://www.oracle.com/bpel/samples"
     xmlns:tns="http://xmlns.oracle.com/bpel-300-FaultHandlingFramework/SampleFeatureRouter/RouteToFeatureMediator"
    >
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://www.oracle.com/bpel/samples" schemaLocation="xsd/MainBPELProcess.xsd" />
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://www.oracle.com/bpel/samples" schemaLocation="xsd/MainBPELProcess.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="request" element="cb1:faultFrameworkRequest"/>
    </wsdl:message>
    <wsdl:message name="callbackMessage">
        <wsdl:part name="callback" element="cb1:faultFrameworkResponse"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="callback_ptt">
        <wsdl:operation name="callback">
            <wsdl:input message="tns:callbackMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
