SOAProject/SOA/Schemas/sample.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org"
            targetNamespace="http://www.example.org" elementFormDefault="qualified">
  <xsd:element name="sname">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="complex">
    <xsd:sequence>
      <xsd:element name="sno"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="marks" type="xsd:integer"/>
  <xsd:attribute name="attribute1"/>
  <xsd:element name="sno"/>
</xsd:schema>
